.rpt2_cache
packages/*/dist
main.js
main.es.js
main.mjs
main.min.js
index.mjs
*.min.js
*.es5.js
.esm-cache
package-lock.json
env
.nyc_output
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
.idea/*
types.js
.DS_Store
types.d.ts

pids
logs
results

npm-debug.log*

node_modules

.vscode
