dist
*.md
node_modules
tsconfig.json
lerna.json

# slow
packages/turf-directional-mean/test/in/bus_route_gps.json
packages/turf-directional-mean/test/in/bus_route_utm.json

# is actually output
packages/turf/turf.min.js
