name: CI build

on:
  push:
    branches:
      - master
      - support/6.x
  pull_request:
    branches:
      - master
      - support/6.x

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          cache: "pnpm"
          node-version: ${{ matrix.node-version }}

      - name: Cache nx data
        uses: actions/cache@v4
        with:
          path: .nx
          key: ${{ runner.os }}-nx

      - run: pnpm install --frozen-lockfile
      - run: git diff --exit-code
      - run: pnpm test
