name: CI build

on:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          cache: "pnpm"
          node-version: ${{ matrix.node-version }}

      - run: pnpm install --frozen-lockfile
      - run: pnpm lerna run build --since origin/master --ignore @turf/turf
      - run: git diff --exit-code
      - run: pnpm lerna run test --since origin/master
      # note: does not run linting
      # note: does not run last-checks
